<!DOCTYPE html>
<html>

    <head>
		<title>Generic Page - Industrious by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
	</head>

<body class="is-preload">
    <!-- Header -->
			<header id="header">
				<a class="logo" href="/index">Industrious</a>
				
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/index">Home</a></li>
                    <li><a href="/albums">Album Name</a></li>
                    <li><a href="/feedback">Feedback</a></li>
					
					
				</ul>
			</nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1 class="feedback-form-title">Send us feedback</h1>
                <form class="feedback-form">
                    <div class="form-group">
                        <label for="feedback-form-name">Name</label>
                        <input type="text" class="form-control" id="feedback-form-name" placeholder="Enter your name">
                    </div>

                    <div class="form-group">
                        <label for="feedback-form-title">Title</label>
                        <input type="text" class="form-control" id="feedback-form-title"
                            placeholder="Title of your feedback">
                    </div>

                    <div class="form-group">
                        <label for="feedback-form-message">Message</label>
                        <textarea type="text" placeholder="Enter your message, then hit the submit" class="form-control"
                            id="feedback-form-message" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default pull-right">Submit</button>
                </form>
            </div><!-- primary -->
            <aside class="col-sm-8">
                <div class="maincontent feedback">
                    <h2 class="article-title">Recent Feedback</h2>
                    <div class="feedback-messages">

                    </div>
                </div>
            </aside><!-- secondary -->
        </div>
    </div><!-- container -->

    <!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<div class="content">
					<section>
						<h3>I come back stronger than a 90’s trend</h3>
						<p>Lyrics
							I'm like the water when your ship rolled in that night
							Rough on the surface but you cut through like a knife
							And if it was an open-shut case
							I never would've known from that look on your face
							Lost in your current like a priceless wine
							The more that you say
							The less I know
							Wherever you stray
							I follow
							I'm begging for you to take my hand
							Wreck my plans
							That's my man
							Life was a willow and it bent right to your wind (oh)
							Head on the pillow, I could feel you sneaking in
							As if you were a mythical thing
							Like you were a trophy or a champion ring
							And there was one prize I'd cheat to win
							The more that you say
							The less I know
							Wherever you stray
							I follow
							I'm begging for you to take my hand
							Wreck my plans
							That's my man
							You know that my train could take you home
							Anywhere else is hollow
							I'm begging for you to take my hand
							Wreck my plans
							That's my man
							Life was a willow and it bent right to your wind (oh)
							They count me out time and time again
							Life was a willow and it bent right to your wind (oh)
							But I come back stronger than a 90's trend
							Wait for the signal and I'll meet you after dark
							Show me the places where the others gave you scars
							Now this is an open-shut case
							Guess I should've known from the look on your face
							Every bait and switch was a work of art
							The more that you say
							The less I know
							Wherever you stray
							I follow
							I'm begging for you to take my hand
							Wreck my plans
							That's my man
							You know that my train could take you home
							Anywhere else is hollow
							I'm begging for you to take my hand
							Wreck my plans
							That's my man
							The more that you say
							The less I know
							Wherever you stray
							I follow
							Begging for you to take my hand
							Wreck my plans
							That's my man
							You know that my train could take you home
							Anywhere else is hollow
							Begging for you to take my hand
							Wreck my plans
							That's my man
							Hey, that's my man
							That's my man
							Yeah, that's my man
							Every bait and switch was a work of art
							That's my man
							Hey, that's my man
							I'm begging for you to take my hand
							Wreck my plans
							That's my man.</p>
					</section>
					
					<section>
						<h4>Magna sed ipsum</h4>
						<ul class="plain">
							<li><a href="https://twitter.com/taylorswift13?lang=en" target="_blank"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
							<li><a href="https://www.facebook.com/TaylorSwift" target="_blank"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
							<li><a href="https://www.instagram.com/taylorswift/" target="_blank"><i class="icon fa-instagram" >&nbsp;</i>Instagram</a></li>
						
						</ul>
					</section>
				</div>
				<div class="copyright">
					&copy; <a href="https://www.linkedin.com/in/kannymohamad/">Kanny Mohamad </a>
				</div>
			</div>
		</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

    <script src="/js/feedback.js"></script>
    <script src="js\jquery.min.js"></script>
	<script src="js\browser.min.js"></script>
	<script src="js\breakpoints.min.js"></script>
	<script src="js\util.js"></script>
	<script src="js\main.js"></script>
</body>

</html>

